@charset "utf-8";

/*웹폰트연결*/
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-size: 16px;
    line-height: 25px;
    font-family: "GmarketSansMedium";
    color: #000;   
    min-width: 1500px; 
}
img, video{
    vertical-align: middle;
}

/*header*/
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
#header_inner{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
#header .logo a{
    position: absolute;
    top:5px;
    left:50%;
    transform:translateX(-50%);
    display: block;
    width: 250px;
    height: 80px;
    background-image: url(img/logo_white.png);
    background-repeat: no-repeat;
}
#header .left{
    float: left;
}
#header .login, .right{
    float: right;
}
#header ul li{
    float: left;
    padding: 30px 20px;
    color: #fff;
    font-size: 18px;
}
#header .login1{
    display: block;
    background-image: url(img/login_1.png);
    width: 30px;
    height: 30px;
}
#header .login2{
    display: block;
    background-image: url(img/login_2.png);
    width: 30px;
    height: 30px;
}
#header .login3{
    display: block;
    background-image: url(img/login_3.png);
    width: 30px;
    height: 30px;
}
#header .login li{
    padding:0 10px;
    padding-top: 25px;
}

/*스크롤 시 변화*/
div#header.on{
	position: fixed;
    z-index: 10;
    background-color: #fff;
}
div#header.on a{
    color: #000;
}
div#header.on .logo a{
    background-image: url(img/logo.png);
}
div#header.on .login1{
    background-image: url(img/black_1.png);
}
div#header.on .login2{
    background-image: url(img/black_2.png);
}

div#header.on .login3{
    background-image: url(img/black_3.png);
}
div#header.on ul li a:hover{
    font-weight: bold;
}

/*counter*/
#counter{
    background-image: url(img/counter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 970px;
}
#counter_inner{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 230px;
    font-size: 30px;
    line-height: 100%;
}
#counter_inner h1{
    font-size: 70px;
    letter-spacing: 13px;
    padding-top: 30px;
}
.counter_box{
    width:1000px;
    margin:0 auto;
    padding-top: 510px;
    display: flex;
    justify-content: space-between;
}
.counter{
    padding-bottom: 10px;
}


/*vision*/
#vision{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}
.title{
    font-size: 40px;
    padding: 30px 0;
    background-image: url(img/title_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#vision p{
    padding-bottom: 20px;
    font-size: 17px;
}
#vision ul{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
#vision ul li h2{
    padding: 10px 0;
    padding-top: 20px;
}

/*story*/
#story{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
#story .st_text1{
    float: left;
    font-size: 17px;
    padding-top: 250px;
    padding-left: 150px;
}
#story .st_img1{
    position: absolute;
    top: 250px;
    right: 0;
}
#story h3{
    padding: 10px;
    background-image: url(img/check.png);
    background-repeat: no-repeat;
    background-position: center top ;
}
#story p{
    padding-top: 10px;
}

/*story2*/
.story2{
    background-image: url(img/story2.jpg);
    background-repeat: no-repeat;
    height: 610px;
    padding-bottom: 100px;
    margin-top: 200px;
}
.box{
    width: 1300px;
    margin: 0 auto;
}
.st_text2 h3{
    padding: 10px;
    background-image: url(img/check.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.st_text2{
    float: right;
    text-align: center;
    padding-right: 150px;
    padding-top: 230px;
    font-size: 17px;
}
.st_text2 p{
    padding-top: 10px;
}

/*rrr*/
#rrr{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    font-size: 17px;
}
#rrr .title2{
    background-image: url(img/title2_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0;
    font-size: 40px;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}
.circle{
    margin: 10px;
}
.circle img{
    animation: rotate 7s linear infinite ;
}
.circle{
    position: relative;
}
.circle h1{
    position: absolute;
    top: 140px;
    left: 560px;
    line-height: 150%;
    font-size: 45px;
    letter-spacing: 7px;
}

/*weare*/
#weare{
    width: 100%;
    height: 400px;
    background-image: url(img/weare.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}
#weare h1{
    font-size: 50px;
    padding-top: 170px;
}
#weare span{
    letter-spacing: 15px;
}
#weare p{
    font-size: 20px;
    padding-top: 15px;
}

/*footer*/
#footer{
    border-top: 1px solid #000;
    margin-top: 150px;
}
#footer_inner{
    width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
}
.ft_left{
    float: left;
}
#footer_inner ul{
    float: left;
    padding-top: 10px;
}
#footer_inner ul li{
    padding-right: 50px;
}
#footer_inner p{
    padding-bottom: 15px;
}
.ft_right{
    float: right;
    padding-top: 85px;
}
.ft_right h2{
    padding: 15px 0;
}