@charset "utf-8";

/*웹폰트연결*/
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-size: 17px;
    line-height: 25px;
    font-family: "GmarketSansMedium";
    color: #000;   
    min-width: 1500px; 
}
img, video{
    vertical-align: middle;
}

/*header*/
#header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
}
#header_inner{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
#header .logo a{
    position: absolute;
    top:5px;
    left:50%;
    transform:translateX(-50%);
    display: block;
    width: 250px;
    height: 80px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
}
#header .left{
    float: left;
}
#header .login, .right{
    float: right;
}
#header ul li{
    float: left;
    padding: 30px 20px;
    color: #000;
    font-size: 18px;
}
#header .login1{
    display: block;
    background-image: url(img/black_1.png);
    width: 30px;
    height: 30px;
}
#header .login2{
    display: block;
    background-image: url(img/black_2.png);
    width: 30px;
    height: 30px;
}
#header .login3{
    display: block;
    background-image: url(img/black_3.png);
    width: 30px;
    height: 30px;
}
#header .login li{
    padding:0 10px;
    padding-top: 25px;
}
#header ul li a:hover{
    font-weight: bold;
}


/*container*/
#container{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
}
#container h1{
    line-height: 100%;
    padding-top: 50px;
}
#container ul{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    padding-bottom: 50px;
}
#container ul li{
    margin-right: 15px;
    color: #999;
}
#container ul li:nth-child(5){
    margin-right: 0;
}

#container ul li:hover{
    color: #000;
    font-weight: bold;
}

/*table*/
table{
    border-collapse: collapse;
}
.box{
    margin-bottom: 50px;
}
.box table{
    border-collapse: collapse;
    text-align: center;
    float: left;   
    width: 600px;
    margin-right: 100px;
}
.box table:nth-child(2){
    margin-right: 0;
}
th,td{
    text-align: left;
    padding: 5px 0;
}
th{
    border-bottom: 3px solid #000;
    font-size: 20px;
    position: relative;
    
}
th img{
    position: absolute;
    top: 0;
    right: 0;
}
.date{
    text-align: right;
    color: #999;
    font-size: 15px;
}
.event{
    width: 1300px;
}
.event td{
    padding:20px;
}
/*footer*/
#footer{
    border-top: 1px solid #000;
    margin-top: 150px;
    font-size: 15px;
}
#footer_inner{
    width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
}
.ft_left{
    float: left;
}
#footer_inner ul{
    float: left;
    padding-top: 10px;
}
#footer_inner ul li{
    padding-right: 50px;
}
#footer_inner p{
    padding-bottom: 15px;
}
.ft_right{
    float: right;
    padding-top: 85px;
}
.ft_right h2{
    padding: 15px 0;
}